# Better not to upload
**/*.pyc
**/*.whl 
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.zip
**/*.parquet
**/*.csv
**/*.lock
**/*.log

# System
**/.DS_Store

# IDE
**/.vscode
**/.idea
**/.fleet

# Debug files
**/*test.ipynb

# Build
**/dist 
**/build 
**/target 
**/*.egg-info

# Test
**/.pytest_cache 
**/.mypy_cache 
**/.coverage*

# Python
**/__pycache__
**/.ipynb_checkpoints
