Package: hello
Version: 0.7
Architecture: all
Depends: hdparm, smartmontools
Maintainer: Andrei Ruslantsev <test@example.com>
Description: Spins down inactive disks after timeout.
 Spins down inactive disks after timeout.