[Unit]
Description=disks-poweroff service
[Service]
Type=simple
ExecStart=/usr/bin/disks-spindown.sh /etc/disks-spindown.conf
Restart=always
RestartSec=2s
[Install]
WantedBy=multi-user.target
